@charset "UTF-8";

/*
 *    style.css
 *    Copyright (C) 2019-2024 НЕВСКИЙ БЛЯДИНА <neva_blyad☩lovecry.pt>
 *                                            <neva_blyad☩lovecri.es>
 *
 *    This file is part of LoveCry.pt.
 *
 *    LoveCry.pt is free software: you can redistribute it and/or modify
 *    it under the terms of the GNU Affero General Public License as
 *    published by the Free Software Foundation, either version 3 of the
 *    License, or (at your option) any later version.
 *
 *    LoveCry.pt is distributed in the hope that it will be useful,
 *    but WITHOUT ANY WARRANTY; without even the implied warranty of
 *    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *    GNU General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with LoveCry.pt.  If not, see <https://www.gnu.org/licenses/>.
 *
 *    To see a copy of the license and information with full list of Non-AGPL
 *    components distributed by us please visit:
 *    www.lovecry.pt/copying/
 */

@font-face
{
    font-family:        Lato, sans;
    font-style:         normal;
    font-weight:        normal;
    src:                url(/fonts/Lato-Regular.ttf);
}

@font-face
{
    font-family:        Lato, sans;
    font-style:         italic;
    font-weight:        normal;
    src:                url(/fonts/Lato-Italic.ttf);
}

@font-face
{
    font-family:        Lato, sans;
    font-style:         normal;
    font-weight:        bold;
    src:                url(/fonts/Lato-Bold.ttf);
}

@font-face
{
    font-family:        Lato, sans;
    font-style:         italic;
    font-weight:        bold;
    src:                url(/fonts/Lato-BoldItalic.ttf);
}

@font-face
{
    font-family:        Lobster;
    src:                url(/fonts/lobster.ttf);
}

/* CAN'T START LIBERATION RIGHT NOW
   SO THE NEXT LINES ARE COMMENTED OUT */
/*
@font-face
{
    font-family:        Liberation Sans Narrow, sans;
    font-style:         normal;
    font-weight:        normal;
    src:                url(/fonts/LiberationSansNarrow-Regular.ttf);
}
*/

/* CAN'T START LIBERATION RIGHT NOW
   SO THE NEXT LINES ARE COMMENTED OUT */
/*
@font-face
{
    font-family:        Liberation Sans Narrow, sans;
    font-style:         italic;
    font-weight:        normal;
    src:                url(/fonts/LiberationSansNarrow-Italic.ttf);
}
*/

/* CAN'T START LIBERATION RIGHT NOW
   SO THE NEXT LINES ARE COMMENTED OUT */
/*
@font-face
{
    font-family:        Liberation Sans Narrow, sans;
    font-style:         normal;
    font-weight:        bold;
    src:                url(/fonts/LiberationSansNarrow-Bold.ttf);
}
*/

/* CAN'T START LIBERATION RIGHT NOW
   SO THE NEXT LINES ARE COMMENTED OUT */
/*
@font-face
{
    font-family:        Liberation Sans Narrow, sans;
    font-style:         italic;
    font-weight:        bold;
    src:                url(/fonts/LiberationSansNarrow-BoldItalic.ttf);
}
*/

/* CAN'T START LIBERATION RIGHT NOW
   SO THE NEXT LINES ARE COMMENTED OUT */
/*
@font-face
{
    font-family:        Liberation Mono, monospace;
    font-style:         normal;
    font-weight:        normal;
    src:                url(/fonts/LiberationMono-Regular.ttf);
}
*/

/* CAN'T START LIBERATION RIGHT NOW
   SO THE NEXT LINES ARE COMMENTED OUT */
/*
@font-face
{
    font-family:        Liberation Mono, monospace;
    font-style:         italic;
    font-weight:        normal;
    src:                url(/fonts/LiberationMono-Italic.ttf);
}
*/

/* CAN'T START LIBERATION RIGHT NOW
   SO THE NEXT LINES ARE COMMENTED OUT */
/*
@font-face
{
    font-family:        Liberation Mono, monospace;
    font-style:         normal;
    font-weight:        bold;
    src:                url(/fonts/LiberationMono-Bold.ttf);
}
*/

/* CAN'T START LIBERATION RIGHT NOW
   SO THE NEXT LINES ARE COMMENTED OUT */
/*
@font-face
{
    font-family:        Liberation Mono, monospace;
    font-style:         italic;
    font-weight:        bold;
    src:                url(/fonts/LiberationMono-BoldItalic.ttf);
}
*/

*
{
    font-family:        Lato;
    overflow-wrap:      break-word;
    word-wrap:          break-word;
}

pre
{
    font-family:        monospace;
    margin:             0px;
}

body
{
    background-color:   black;
    color:              white;
}

h1
{
    align-items:        center;
    justify-content:    center;
    text-align:         center;
    font-family:        Lobster;
    font-size:          xx-large;
    font-weight:        normal;
}

h1,
h1 a,
h2,
h2 a,
#hdr_lvl1
{
    color:              #AFFF00;
    font-family:        Lobster;
}

#hdr_lvl2
{
    color:              #5F00DF;
}

/*
 * <a>
 */
a:link    /* Unvisited link */
{
    color:              #FF00AF;
}

a:visited /* Visited link */
{
    color:              #585858;
}

a:hover   /* Mouse over link */
{
    color:              #DF00AF;
}

a:active  /* Selected link */
{
    color:              #5F00DF;
}

/*
 * <form>
 */
form label
{
    cursor:             pointer;
}

form input,
form select,
form textarea
{
    background-color:   black;
    box-sizing:         border-box;
    color:              white;
}

form input[list],[type=checkbox],[type=password],[type=text],
form select
{
    border:             1px;
    border-style:       none none solid none;
}

form input[type=checkbox]
{
    cursor:             pointer;
}

form input[type=reset],[type=submit]
{
    border:             2px;
    cursor:             pointer;
    padding:            5px;
    border-style:       solid solid solid solid;
}

form select
{
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    background:         url(/liberation/img/arrow.png) no-repeat right;
    cursor:             pointer;
}

form textarea
{
    border:             1px;
    border-style:       none none solid none;
    font-family:        monospace;
    resize:             none;
}

form input[list]:focus,[type=checkbox]:focus,[type=password]:focus,[type=text]:focus,
form select:focus,
form textarea:focus
{
    color:              #FF00AF;
}

/*
 * <div id="table">
 */
div#table
{
    display:            table;
    width:              100%;
    height:             100%;
}

/*
 * <div id="header">
 */
div#header
{
    display:            table-row;
    width:              100%;
}

/*
 * <div id="menu">
 * <div id="pages">
 * <div id="cnt">
 */
div#menu,
div#pages,
div#cnt
{
    align-items:        center;
    justify-content:    center;
    text-align:         center;
    display:            table-cell;
    width:              100%;
}

/*
 * <div id="footer">
 */
div#footer
{
    display:            table-row;
    width:              100%;
}

/*
 * <div id="main">
 */
div#main
{
    display:            table-row;
    width:              100%;
    height:             100%;
}

/*
 * <div id="dummy">
 */
div#dummy
{
    display:            table-cell;
    width:              100%;
    height:             100%;
}

/*
 * <div id="centr">
 */
div#centr
{
    display:            table-cell;
    align-items:        center;
    justify-content:    center;
    text-align:         center;
    width:              100%;
    height:             100%;
}

/*
 * <div id="centr_full">
 */
div#centr_full
{
    align-items:        center;
    justify-content:    center;
    text-align:         center;
    display:            flex;
    height:             100%;
    width:              100%;
}

/*
 * <div id="left">
 */
div#left
{
    display:            table-cell;
}

/*
 * <div id="centr640">
 */
div#centr640
{
    display:            table-cell;
    width:              640px;
    max-width:          640px;
}

/*
 * <div id="right">
 */
div#right
{
    display:            table-cell;
}

/*
 * <div id="tile">
 */
div#tile
{
    padding-left:       18px;
    padding-right:      18px;
}

/*
 * <p>
 */
p
{
    margin:             0px;
}

/*
 * <p id="centr">
 */
p#centr
{
    align-items:        center;
    justify-content:    center;
    text-align:         center;
}

/*
 * <p id="center_success">
 */
p#centr_success
{
    align-items:        center;
    justify-content:    center;
    text-align:         center;

    color:              #AFFF00;
}

/*
 * <p id="center_err">
 */
p#centr_err
{
    align-items:        center;
    justify-content:    center;
    text-align:         center;

    color:              #FF0000;
}

/*
 * <p id="left">
 */
p#left
{
    text-align:         left;
}

/*
 * <p id="padding">
 */
p#padding
{
    padding-bottom:     5px;
    padding-top:        5px;
}

/*
 * <p id="centr_padding">
 */
p#centr_padding
{
    align-items:        center;
    justify-content:    center;
    text-align:         center;

    padding-bottom:     5px;
    padding-top:        5px;
}

/*
 * <p id="left_padding">
 */
p#left_padding
{
    padding-bottom:     5px;
    padding-top:        5px;
    text-align:         left;
}

/*
 * <p id="double">
 */
p#double
{
    line-height:        2;
}

/*
 * <span id="menu">
 */
span#menu
{
    margin-left:        5px;
    margin-right:       5px;
}

/*
 * <span id="page">
 */
span#page
{
    margin-left:        5px;
}

/*
 * <span id="profile">
 */
span#profile
{
    white-space:        nowrap;
}

/*
 * <span id="icon">
 */
span#icon
{
    margin-right:       2px;
}

/*
 * <table id="index">
 */
table#index
{
    border-spacing:     0px 0px;
    margin-left:        auto;
    margin-top:         5px;
    margin-bottom:      5px;
    margin-right:       auto;
}

/*
 * <form id="filters">
 */
form#filters label#grey
{
    color:              #585858;
}

form#filters input[type=submit],
{
    width:              150px;
}

form#filters select
{
    width:              100%;
}

/*
 * <table id="filters">
 */
table#filters
{
    border-spacing:     0px 0px;
    margin-left:        auto;
    margin-top:         5px;
    margin-bottom:      5px;
    margin-right:       auto;
}

table#filters th
{
    text-align:         left;
    vertical-align:     top;
}

table#filters td
{
    vertical-align:     top;
}

table#filters th#format
{
    width:              200px;
    max-width:          200px;
}

table#filters td#format
{
    font-size:          small;
    width:              200px;
    max-width:          200px;
}

table#filters th#category
{
    width:              150px;
    max-width:          150px;
}

table#filters td#category
{
    font-size:          small;
    width:              150px;
    max-width:          150px;
}

table#filters th#sort
{
    width:              150px;
    max-width:          150px;
}

table#filters td#sort_by
{
    width:              90px;
    max-width:          90px;
}

table#filters td#sort_order
{
    width:              60px;
    max-width:          60px;
}

/*
 * <table id="titles">
 */
table#titles
{
    border-spacing:     0px 0px;
    margin-left:        auto;
    margin-top:         5px;
    margin-bottom:      5px;
    margin-right:       auto;
}

table#titles th,
table#titles td
{
    vertical-align:     top;
}

table#titles img#cover
{
    /* border-radius:      10px; */
    max-width:          200px;
    max-height:         400px;
}

table#titles th#cover
{
    padding-left:       20px;
    padding-right:      20px;
    width:              200px;
}

table#titles td#cover
{
    padding-left:       20px;
    padding-right:      20px;
    width:              200px;
}

table#titles td#main
{
    padding-left:       20px;
    padding-right:      20px;
    width:              200px;
    max-width:          200px;
    white-space:        pre-wrap;
}

table#titles td#main_centr
{
    padding-left:       20px;
    padding-right:      20px;
    width:              200px;
    max-width:          200px;
    white-space:        pre-wrap;

    align-items:        center;
    justify-content:    center;
    text-align:         center;
    font-size:          small;
}

table#titles td#centr
{
    align-items:        center;
    justify-content:    center;
    text-align:         center;
    font-size:          small;
}

table#titles td#main_hdr_lvl2
{
    padding-left:       20px;
    padding-right:      20px;
    width:              200px;
    max-width:          200px;
    white-space:        pre-wrap;

    color:              #5F00DF;
}

table#titles td#format
{
    font-size:          small;
    padding-left:       20px;
    width:              120px;
    max-width:          120px;
    white-space:        pre-wrap;
}

table#titles td#rating
{
    width:              16px;
    height:             16px;
}

table#titles td#rating_left
{
    align-items:        right;
    justify-content:    right;
    text-align:         right;
}

table#titles td#rating_right
{
    width:              16px;
    height:             16px;

    padding-right:      20px;
}

table#titles td#category
{
    font-size:          small;
    padding-left:       20px;
    padding-bottom:     40px;
    width:              100px;
    max-width:          100px;
    white-space:        pre-wrap;
}

table#titles td#category_if_no_progress
{
    font-size:          small;
    padding-left:       20px;
    padding-right:      20px;
    padding-bottom:     40px;
    width:              200px;
    max-width:          200px;
    white-space:        pre-wrap;
}

table#titles td#progress
{
    font-size:          small;
    padding-right:      20px;
    padding-bottom:     40px;
    text-align:         right;
    width:              100px;
    max-width:          100px;
}

table#titles td#progress_liberated
{
    font-size:          small;
    padding-right:      20px;
    padding-bottom:     40px;
    text-align:         right;
    width:              100px;
    max-width:          100px;

    color:              #AFFF00;
}

/*
 * <form id="title">
 */
form#title input[list],[type=text],
form#title select,
form#title textarea
{
    width:              100%;
}

form#title input[type=reset],[type=submit]
{
    width:              150px;
}

form#title input[type=file]
{
    width:              200px;
}

/*
 * <table id="title">
 */
table#title_rows9,
table#title_rows10,
table#title_rows11
{
    border-spacing:     0px 0px;
    margin-left:        auto;
    margin-top:         5px;
    margin-bottom:      5px;
    margin-right:       auto;
    width:              640px;
    max-width:          640px;
}

table#title_rows9  th,
table#title_rows10 th,
table#title_rows11 th,
table#title_rows9  td,
table#title_rows10 td,
table#title_rows11 td
{
    vertical-align:     top;
}

table#title_rows9  tr:first-child                                                    { height:         1px; }
table#title_rows9  tr:first-child + tr                                               { height:         1px; }
table#title_rows9  tr:first-child + tr + tr                                          { height:         1px; }
table#title_rows9  tr:first-child + tr + tr + tr                                     { height:         1px; }
table#title_rows9  tr:first-child + tr + tr + tr + tr                                { height:         1px; }
table#title_rows9  tr:first-child + tr + tr + tr + tr + tr                           { height:         1px; }
table#title_rows9  tr:first-child + tr + tr + tr + tr + tr + tr                      { height:         1px; }
table#title_rows9  tr:first-child + tr + tr + tr + tr + tr + tr + tr                 { height:         1px; }
table#title_rows9  tr:first-child + tr + tr + tr + tr + tr + tr + tr + tr            { vertical-align: 1px; }

table#title_rows10 tr:first-child                                                    { height:         1px; }
table#title_rows10 tr:first-child + tr                                               { height:         1px; }
table#title_rows10 tr:first-child + tr + tr                                          { height:         1px; }
table#title_rows10 tr:first-child + tr + tr + tr                                     { height:         1px; }
table#title_rows10 tr:first-child + tr + tr + tr + tr                                { height:         1px; }
table#title_rows10 tr:first-child + tr + tr + tr + tr + tr                           { height:         1px; }
table#title_rows10 tr:first-child + tr + tr + tr + tr + tr + tr                      { height:         1px; }
table#title_rows10 tr:first-child + tr + tr + tr + tr + tr + tr + tr                 { height:         1px; }
table#title_rows10 tr:first-child + tr + tr + tr + tr + tr + tr + tr + tr            { height:         1px; }
table#title_rows10 tr:first-child + tr + tr + tr + tr + tr + tr + tr + tr + tr       { vertical-align: 1px; }

table#title_rows11 tr:first-child                                                    { height:         1px; }
table#title_rows11 tr:first-child + tr                                               { height:         1px; }
table#title_rows11 tr:first-child + tr + tr                                          { height:         1px; }
table#title_rows11 tr:first-child + tr + tr + tr                                     { height:         1px; }
table#title_rows11 tr:first-child + tr + tr + tr + tr                                { height:         1px; }
table#title_rows11 tr:first-child + tr + tr + tr + tr + tr                           { height:         1px; }
table#title_rows11 tr:first-child + tr + tr + tr + tr + tr + tr                      { height:         1px; }
table#title_rows11 tr:first-child + tr + tr + tr + tr + tr + tr + tr                 { height:         1px; }
table#title_rows11 tr:first-child + tr + tr + tr + tr + tr + tr + tr + tr            { height:         1px; }
table#title_rows11 tr:first-child + tr + tr + tr + tr + tr + tr + tr + tr + tr       { height:         1px; }
table#title_rows11 tr:first-child + tr + tr + tr + tr + tr + tr + tr + tr + tr + tr  { vertical-align: 1px; }

table#title_rows9  img#cover,
table#title_rows10 img#cover,
table#title_rows11 img#cover
{
    /* border-radius:      10px; */
    max-width:          200px;
    max-height:         400px;
}

table#title_rows9  th#cover,
table#title_rows10 th#cover,
table#title_rows11 th#cover
{
    font-weight:        normal;
    padding-left:       10px;
    padding-right:      10px;
    width:              200px;
}

table#title_rows9  td#username,
table#title_rows10 td#username,
table#title_rows11 td#username
{
    padding-left:       10px;
    padding-top:        0px;
    padding-bottom:     10px;
    padding-right:      10px;
}

table#title_rows9  td#main_view,
table#title_rows10 td#main_view,
table#title_rows11 td#main_view
{
    padding-left:       10px;
    padding-right:      10px;
    max-width:          1px;
    white-space:        pre-wrap;
}

table#title_rows9  td#main_view_liberated,
table#title_rows10 td#main_view_liberated,
table#title_rows11 td#main_view_liberated
{
    padding-left:       10px;
    padding-right:      10px;
    max-width:          1px;
    white-space:        pre-wrap;

    color:              #AFFF00;
}

table#title_rows9  td#main_add,
table#title_rows10 td#main_add,
table#title_rows11 td#main_add,
table#title_rows9  td#main_edit,
table#title_rows10 td#main_edit,
table#title_rows11 td#main_edit
{
    padding-left:       10px;
    padding-right:      10px;
    max-width:          1px;
}

table#title_rows9  td#main_hdr_lvl2,
table#title_rows10 td#main_hdr_lvl2,
table#title_rows11 td#main_hdr_lvl2
{
    padding-left:       10px;
    padding-right:      10px;
    white-space:        nowrap;
    width:              1px;

    color:              #5F00DF;
}

table#title_rows9  td#rating_left,
table#title_rows10 td#rating_left,
table#title_rows11 td#rating_left
{
    width:              16px;

    padding-left:       10px;
}

table#title_rows9  img#rating,
table#title_rows10 img#rating,
table#title_rows11 img#rating
{
    width:              16px;
    height:             16px;
    max-width:          16px;
    max-height:         16px;
}

table#title_rows9  td#rating,
table#title_rows10 td#rating,
table#title_rows11 td#rating
{
    width:              16px;
}

table#title_rows9  td#rating_right,
table#title_rows10 td#rating_right,
table#title_rows11 td#rating_right
{
    padding-right:      10px;
}

table#title_rows9  td#progress_begin,
table#title_rows10 td#progress_begin,
table#title_rows11 td#progress_begin
{
    padding-left:       10px;
    width:              35px;
}

table#title_rows9  td#progress_delimiter,
table#title_rows10 td#progress_delimiter,
table#title_rows11 td#progress_delimiter
{
    width:              1px;
}

table#title_rows9  td#progress_end,
table#title_rows10 td#progress_end,
table#title_rows11 td#progress_end
{
    width:              35px;
}

table#title_rows9  td#progress,
table#title_rows10 td#progress,
table#title_rows11 td#progress
{
    padding-right:      10px;
}

/*
 * <form id="auth">
 */
form#auth input[type=password],
form#auth input[type=text]
{
    width:              100%;
}

form#auth input[type=submit]
{
    width:              150px;
}

form#auth textarea
{
    width:              100%;
}

/*
 * <table id="auth">
 */
table#auth
{
    border-spacing:     10px 0px;
    margin-left:        auto;
    margin-top:         5px;
    margin-bottom:      5px;
    margin-right:       auto;
    width:              640px;
    max-width:          640px;
}

table#auth td:first-child
{
    font-weight:        bold;
    width:              1px;
    white-space:        nowrap;
}

/*
 * <form id="profile">
 */
form#profile input[type=text],
form#profile textarea
{
    width:              100%;
}

form#profile input[type=reset],[type=submit]
{
    width:              150px;
}

form#profile input[type=file]
{
    width:              200px;
}

/*
 * <table id="profile">
 */
table#profile
{
    border-spacing:     0px 0px;
    margin-left:        auto;
    margin-top:         5px;
    margin-bottom:      5px;
    margin-right:       auto;
    width:              640px;
    max-width:          640px;
}

table#profile th,
table#profile td
{
    vertical-align:     top;
}

table#profile tr:first-child           { height:         1px; }
table#profile tr:first-child + tr      { height:         1px; }
table#profile tr:first-child + tr + tr { vertical-align: 1px; }

table#profile img#avatar
{
    /* border-radius:      10px; */
    max-width:          200px;
    max-height:         200px;
}

table#profile th#avatar
{
    font-weight:        normal;
    padding-left:       10px;
    padding-right:      10px;
    width:              200px;
}

table#profile td#username
{
    padding-left:       10px;
    padding-top:        0px;
    padding-bottom:     10px;
    padding-right:      10px;
}

table#profile td#main_view
{
    padding-left:       10px;
    padding-right:      10px;
    max-width:          1px;
    white-space:        pre-wrap;
}

table#profile td#main_edit
{
    padding-left:       10px;
    padding-right:      10px;
    max-width:          1px;
}

table#profile td#main_hdr_lvl2
{
    padding-left:       10px;
    padding-right:      10px;
    white-space:        nowrap;
    width:              1px;

    color:              #5F00DF;
}

/*
 * <form id="settings">
 */
form#settings input[type=password],
form#settings input[type=text],
form#settings select
{
    width:              300px;
}

form#settings input[type=reset],[type=submit]
{
    width:              150px;
}

form#settings textarea
{
    width:              100%;
}

/*
 * <table id="settings">
 */
table#settings
{
    border-spacing:     10px 0px;
    margin-left:        auto;
    margin-top:         5px;
    margin-bottom:      5px;
    margin-right:       auto;
}

table#settings td:first-child
{
    font-weight:        bold;
}
